.about-us-section {
    display: inline-block;
    width: 370px;
    padding: 10px;
    vertical-align: top;
}

.add-order {
    margin: 5px;
    background-color: #be3b2c;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.add-order:hover {
    cursor: pointer;
    background-color: #de5b4c;
}

.alc-drink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    background-color: rgba(190, 59, 44, .7);
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.alc-drink-all {
    display: flex;
    flex-direction: column;
}

.alc-pizza-all {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.alc-pizza-pic {
    height: 150px;
}

.alc-pizza-qty {
    display: flex;
    margin: 5px;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/images/dimmer.jpg");
    min-height: 80%;
}

.bg-header {
    padding: 20px 0;
    background-color: rgba(190, 59, 44, .7);
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.checkout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-content-box {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, .7);
    margin: 5px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.coll-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: rgba(200, 200, 200, .7);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collapsible {
    background-color: rgba(0,0,0,.5);
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    border: solid black 2px;
    width: 100%;
    height: 90px;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
}

.collapsible:hover {
    background-color: rgba(0,0,0,.3);
}

.column {
    float: left;
    width: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.date-time {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.dc-drinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 370px;
    margin: 0 10px;
    align-items: center;
}

.display-tall-center {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 90vw;
}

.div-large {
    font-size: 18px;
    background-color: #fdf5e6;
    color: #000;
    padding-top: 20px;
}

.div-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.drink-order {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
}

.drink-order2 {
    justify-content: center !important;
}

.dropdown-drinks {
    margin: 0 10px;
}

.dropdown-icon {
    background-image: url("/images/chevron-down.svg");
    width: 60px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.footer {
    text-align: center;
    color: #fff;
    background-color: #222222;
    padding-top: 48px;
    padding-bottom: 20px;
    font-size: 18px;
}

.large-bg-img {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("/images/transparent.png");
    height: 100%;
}

.menu-description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.menu-item {
    font-weight: bold;
}

.nav-button {
    border: none;
    padding: 4px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.nav-button:hover {
    color: #000;
    background-color: #ccc;
    transition: .8s;
}

.notify {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    transition: height .2s;
}

.notify-active {
    height: 50px;
}

.order-border {
    border: solid #be3b2c 1px;
    border-radius: 5px;
}

.order-button {
    position: absolute;
    top: 75%;
    background: #be3b2c;
    border-radius: 8px;
    padding: .8em 1.2em;
    border: none;
    color: white;
    font-size: 1.4em;
}

.order-button:hover {
    background: #de5b4c;
    color: #fff;
    transition: .4s;
    cursor: pointer;
}

.order-list {
    width: 100%;
    margin: 10px;
}

.order-list-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.order-list-item-desc {
    display: flex;
    flex-direction: column;
}

.page-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pic-actual {
    height: 150px;
}

.pizza-selected {
    border-radius: 5px;
    background-color: rgba(20, 178, 170, .2);
}

.price-x {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10px;
}

.qty-minus:hover, .qty-plus:hover {
    cursor: pointer;
}

.qty-selector {
    width: 80px;
    margin-left: 5px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header {
    text-align: center;
    padding: 52px;
    font-size: 2em;
    color: #be3b2c;
}

.select-p-body {
    display: flex;
    margin: 2px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.select-p-content {
    display: flex;
    align-items: center;
}

.select-p-desc {
    margin: 5px;
    width: 150px;
}

.select-p-header {
    margin: 2px;
    font-size: 24px;
    font-style: italic;
}

.select-p-pic {
    margin: 5px;
}

.selector-drink {
    display: flex;
    margin: 2px;
}

.selector-pizza {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.test-button {
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, .7);
}

.test-button:hover {
    cursor: pointer;
}

.time-selector {
    display: block;
    margin: 0 auto;
}

.top-row {
    padding: 6px;
    display: table;
    clear: both;
    color: #fff;
    background-color: #000;
    width: 100%;
}

.x-button {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('https://api.iconify.design/lucide/x.svg?color=black');
}

.x-button:hover {
    cursor: pointer;
    background-image: url('https://api.iconify.design/lucide/x.svg?color=red');
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #be3b2c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dd0000;
}