.about-us-section {
    display: inline-block;
    width: 370px;
    padding: 10px;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/images/dimmer.jpg");
    min-height: 80%;
}

.column {
    float: left;
    width: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.display-tall-center {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: calc(40px + 23 * ((30vw - 320px) / 680));
}

.div-large {
    font-size: 18px;
    background-color: #fdf5e6;
    color: #000;
}

.div-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.footer {
    text-align: center;
    color: #000;
    background-color: #f1f1f1;
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 18px;
}

.nav-button {
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.nav-button:hover {
    color: #000;
    background-color: #ccc;
}

.order-button {
    position: absolute;
    top: 75%;
    background: #be3b2c;
    border-radius: 8px;
    padding: .8em 1.2em;
    border: none;
    color: white;
    font-size: 1.4em;
}

.order-button:hover {
    background: #de5b4c;
    color: #fff;
    transition: .4s;
    cursor: pointer;
}

.page-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header {
    text-align: center;
    padding: 32px;
    font-size: 2em;
    color: #be3b2c;
}

.top-row {
    padding: 8px 16px;
    display: table;
    clear: both;
    color: #fff;
    background-color: #000;
    width: 100%;
}