.about-us-section {
    display: inline-block;
    width: 370px;
    padding: 10px;
    vertical-align: top;
}

.add-order {
    height: 80px;
    width: 400px;
    border: solid black 1px;
    margin: 5px;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/images/dimmer.jpg");
    min-height: 80%;
}

.bg-header {
    /*font-size: 48px;*/
    padding: 20px 0;
    background-color: rgba(190, 59, 44, .7);
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

.coll-content {
    padding: 0 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: rgba(200, 200, 200, .7);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collapsible {
    background-color: rgba(0,0,0,.5);
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    border: solid black 2px;
    width: 100%;
    height: 90px;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
}

.collapsible:hover {
    background-color: rgba(0,0,0,.3);
}

.column {
    float: left;
    width: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.display-tall-center {
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 90vw;
}

.div-large {
    font-size: 18px;
    background-color: #fdf5e6;
    color: #000;
    padding-top: 20px;
}

.div-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.drink-order {
    height: 300px;
    width: 300px;
    border: solid black 1px;
    margin: 5px;
}

.dropdown-icon {
    background-image: url("/images/chevron-down.svg");
    width: 60px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.footer {
    text-align: center;
    color: #fff;
    background-color: #222222;
    padding-top: 48px;
    padding-bottom: 20px;
    font-size: 18px;
}

.large-bg-img {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url("/images/transparent.png");
    height: 100%;
}

.menu-description {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.menu-item {
    font-weight: bold;
}

.nav-button {
    border: none;
    padding: 4px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.nav-button:hover {
    color: #000;
    background-color: #ccc;
    transition: .8s;
}

.order-button {
    position: absolute;
    top: 75%;
    background: #be3b2c;
    border-radius: 8px;
    padding: .8em 1.2em;
    border: none;
    color: white;
    font-size: 1.4em;
}

.order-button:hover {
    background: #de5b4c;
    color: #fff;
    transition: .4s;
    cursor: pointer;
}

.page-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-header {
    text-align: center;
    padding: 52px;
    font-size: 2em;
    color: #be3b2c;
}

.selector-drink {
    height: 200px;
    width: 200px;
    border: solid black 1px;
    margin: 5px;
}

.selector-pizza {
    height: 200px;
    width: 500px;
    border: solid black 1px;
    margin: 5px;
}

.top-row {
    padding: 6px;
    display: table;
    clear: both;
    color: #fff;
    background-color: #000;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #be3b2c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dd0000;
}